/* Global */
@font-face {
    font-family: 'majuscules_BD';
    src: url('../font/majusculesBD.ttf');
}
html{
    scroll-padding-top: 11.5em;
}
body{
    font-family: 'majuscules_BD';
    background-image: url('https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg');
}
.container{
    padding-top: 11.5em;
    
}
.logo{
    width: 5em;
    height: 5em;
    background-color: black;
}
.title{
    text-align: center;
    font-size: 2.5em;
    color: black;
}
.title-yellow{
    text-align: center;
    font-size: 2.5em;
    color: yellow;
}
.reserve{
    display: flex;
    justify-content: center; 
}
.size-font{
    font-size: 1.3em;
}
/* Navbar */
.bg-navbar{
    background-color: red;
}
.navbar-brand{
    font-size: 2em;
    color: darkgoldenrod;
}
.nav-item{
    font-size: 2em;
   
}
.nav-link{
    color: darkgoldenrod;
}
/* Menus */
.Menu1{
    background-color: green;
}
.Menu2{
    background-color: yellowgreen;
}
.menus-image{
    width: 22vw;
    height: auto;
    padding: 1.5em;
}
/* Valeurs */
.valeurs{
    background-color: yellow;
}
.valeurs-content{
    text-align: center;
}
/* Trouver */
.trouver{
    background-color: gray;
}
iframe{
    margin-left: 20em;
}
#Trouver p, #Trouver ul{
    text-align: center;
}
/* Producteurs / References*/
.producteurs{
    background-color: aqua;
}
.references{
    background-color: brown;
}
.main-grid{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 3;
}
.main-item1{
    grid-row: 1;
    grid-column: 1;
}
.main-item2{
    grid-row: 1;
    grid-column: 2;
}
.main-item3{
    grid-row: 1;
    grid-column: 3;
}
.sub-grid{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1;
}
.sub-item1{
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}
.sub-item2{
    grid-row: 2;
    grid-column: 1;
    display: block;
    margin: auto;
    margin-bottom: 2.5em;
}
.item-image{
    width: 22vw;
    height:33vh;
}
.item-image:hover{
    opacity: 0.5;
}
/* Formulaire */
.formulaire{
    display: flex;
    justify-content: center;
}
.label{
    color: yellow;
    padding-bottom: 2.5em;
}
.fieldset{
    width: fit-content;
    padding: 2.5em;
    border: 1px solid black;
}
.space_top {
    padding-top: 20%; 
    padding-bottom: 0%;
}
.space_top2 {
    padding-top: 20%;
    padding-bottom: 0%; 
}
.button{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    text-decoration: none;
    width:fit-content;
    height: fit-content;
    margin-left:45%;
    margin-right:45%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: lightgrey;
    padding: 15px 20px 14px;
    color:darkorange;
    border-radius: 30px;

}
.button:hover{
    background-color:red;
}
.legal{
    width: 20em;
    margin-left: 30%;
}
@media (max-width:400px){
/* Global */
.container{
    padding-top: 7.5em;  
}
.space_top {
    padding-top: 15%; 
    padding-bottom: 5%;
}
.space_top2 {
    padding-top: 50%;
    padding-bottom: 0%; 
}
.logo{
    width: 3em;
    height: 3em;
    background-color: black;
}
/* Menus */
.menus-image{
    width: 66vw;
    height: auto;
}
/* Trouver */
.trouver, .Menu2, .Menu1{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
.carte{
    width: 20em;
    height: auto;
    margin-left: 2.5em;
}
/* Producteurs / References */
.producteurs, .references{
    padding-bottom: 2.5em;
}
.main-grid{
  display:block; 
}
.main-item1{
    display:block; 
}
.main-item2{
    display:block;  
}
.main-item3{
    display:block; 
}
.sub-grid{
    display:block;  
}
.item-image{
    width: 66vw;
    height:33vh;
    padding-bottom: 10%; 
}
.size-font{
    font-size: 1.3em;
    margin-top: 0.1em;
}
.sub-item2{
    
    display: block;
    height: 40vh;
}
.legal{
    width: 40vw;
    margin-left: 5em;
}
}